* {    
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.label {
    color: #a5a5a5;
    font-size: 1em;
    text-transform: uppercase;
}

.input[type=text], .input[type=email] {
    border: none;
    border-bottom: 1px solid #a5a5a5;
    outline: none;
}
.select {
    border: none;
    outline: none;
    border-bottom: 1px solid #a5a5a5;
}
.input[type=submit]{
    border: none;
    width: 45%;
    color: #fff;
    background: #5f096c;
    background: -moz-linear-gradient(left, #5f096c 0%, #cf005a 100%);
    background: -webkit-linear-gradient(left, #5f096c 0%,#cf005a 100%);
    background: linear-gradient(to right, #5f096c 0%,#cf005a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f096c', endColorstr='#cf005a',GradientType=1 );
    cursor: pointer;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    padding: 10px;
    margin-top:20px; 
}
.input[type=file]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-c + .file-r {
    font-size: 0.9em;
    color: #fff;
    background-color: #cf005a;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    width: 40%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.label, .input, .select{
    margin: 10px;
    padding: 5px;
}

/*flexbox*/
.container {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;

}
    .first-half {
        background: url(../img/bg-left.jpg) no-repeat fixed center;
        background-size: cover;
        background-position: -20em;
        flex: 1 0 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        color: #fff;
    }
        .title {
            align-self: center;
        }
            h1 {
                font-family: 'Montserrat Alternates', sans-serif;
                padding: 3em;
            }
        .text-midle h2{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-content: center;
        }
            h2 span {
                font-size: 2em;
                text-transform: uppercase;
                margin-left: 5em;
            }
        .logos {
            display: flex;
            flex-flow: row wrap;
        }
            .gob {
                display: flex;
                flex-flow: row nowrap;
            }
                img.img{
                    flex-grow: 0;
                    height: 54px;
                    margin: 25px 0 25px 25px
                }
            .social{
                align-self: flex-end;
                margin-left: 150px;
                margin-bottom: 50px;
            }
            .fab {
                color: #fff;
                font-size: 2em;
                margin: 5px;
            }


    .second-half {
        flex: 3 1 auto;
        padding: 5em 7em;
        width: 40%;
    }
        .form{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
        }
            .box2 {
                display: flex;
                flex-flow: row wrap;
            }
                .sub-box1{
                    display: flex;
                    flex-flow: column nowrap;
                    flex-grow: 1;
                    flex-basis: 0;
                }

            .box3 {
                display: flex;
                flex-flow: column nowrap;
            }

            .box6 {
                display: flex;
                flex-flow: column nowrap;
            }
                .sub-box2{
                    display: flex;
                    flex-flow: column nowrap;
                }
                .file-r{

                   position: relative;
                }



@media all and (max-width: 600px){
    div.second-half{
        width: 90%;
    }
}

@media all and (max-width: 300px){
    h1 {
        font-size: 1.5em;
    }
}
@media all and (max-width: 1000px){
    .container {
        flex-flow: column nowrap;
    }
    .second-half {
        padding: 2em 2em;
        width: 60%;
        align-self: center;
    }
    .first-half {
        flex-flow: column nowrap;
        background-position: center;
        height: 20em;
    }
    h2 span {
        display: none;
    }
    .title{
        flex: 2 1 auto;
        align-self: center;
        margin: 0px;
    }

    .logos {
        flex: 1 1 100%;
        align-items: flex-end;
        align-content: space-between;

    }
    .gob {
        flex: 1 1 auto;
        margin: 10px;
        align-self: auto;
    }
    .social {
        flex: 1 1 auto;
        margin: 10px;
        align-self: auto;
        text-align: right;
    }
    img.img {
        height: 30px;
        margin-bottom: 0;
    }
    
}

@media all and (max-width:400px){
    .logos{
        display: none;
    }
}
